{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime",
    // 自动按需导入vant组件 
    ["import", { 
      "libraryName": "vant", 
      "libraryDirectory": "es", 
      "style": true 
    }]
  ]
}
